* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
}

.background {
  margin: 0;
  height: 100%;
  background-color: hsl(0, 100%, 74%);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 8rem 1.5rem 0 1.5rem;
}

.info-container {
  text-align: center;
  color: white;
}

.advertisement-container {
  background-color: hsl(248, 32%, 49%);
  height: 5rem;
  border-radius: 8px;
  box-shadow: 0 5px hsl(0, 67%, 59%);
  display: flex;
  flex-direction: column;
}

.advertisement {
  color: white;
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

span.offer {
  font-weight: 700;
}

.form-container {
  background-color: white;
  border-radius: 8px;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0 5px hsl(0, 67%, 59%);
}

.input-label {
  border-radius: 8px;
  border: 0.05rem solid hsl(0, 0%, 69%);
  height: 3.5rem;
  margin: 0 auto 1.2rem auto;
  width: 100%;
  outline: none;
}

.input-label::placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: 600;
  padding-left: 10px;
}

.alert {
  display: none;
}

.alert-image {
  display: none;
}

.claim-button {
  text-align: center;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 600;
  border-radius: 8px;
  height: 3.5rem;
  width: 100%;
  border: none;
  box-shadow: 0 4px hsl(154, 57%, 43%);
  margin-bottom: 0.5rem;
}

.claim-button:hover {
  cursor: pointer;
}

.terms-and-services {
  text-align: center;
  color: hsl(246, 25%, 77%);
  font-size: 12px;
}

.terms-services-select {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.terms-services-select:hover {
  cursor: pointer;
}
